* {-webkit-font-smoothing: antialiased;}

a:active, a:link, a {
  color:#003366;
  text-decoration:none;
}

a:hover {
  color:#003366;
  text-decoration:underline;
}

body{
  background:#fefefe;
}

.leftright {
    width: 100%;
    margin: auto;
    padding: 10px;
display: flex;
}
.left {
    background: #e0e0e0;
    width: 25%;
    float: left;
z-index:5;
position:relative;
min-width:120px;
max-width:240px;
margin-bottom:3%;
}

.contentcontainer {
width:70%;
z-index:0;
position:relative;
margin-left:-3%;
}

.right {
border-style:dotted;
border-width:1.5px;
background: #fefefe;
margin-top:30px;
padding-left:7%;
padding-bottom:12px;
padding-top:12px;
z-index:0;
}

.topright {
background: #fefefe;
color: #000000;
white-space: nowrap;
margin-right:15%;
margin-top:12px;
margin-bottom:-10px;
padding: 4 8 4 8;
z-index:1;
float:right;
word-spacing:1em;
font-weight:400;
}


.left {
    background: #e0e0e0;
    width: 25%;
    float: left;
z-index:5;
position:relative;
min-width:120px;
max-width:240px;
margin-bottom:3%;
}

.portrait{
border-style:outset;
border-width:1.5px;
max-width:100%;
height:auto;
margin-left:10%;
margin-top:5%;
margin-bottom:5%;
padding:0px;
z-index:10;
position:relative;
}


ul{
list-style-type: none;
padding: 0;
margin: 0;
text-align: left;
}

li{
margin-left:1em;
margin-right:0.5em;
margin-bottom: 1em;
}

.Name {
    font-family: 'Poiret One', cursive;
    font-size:170%;
    font-weight:300;
    color:black;
    margin:0px;
    padding-left:10px;
    padding-top:0px;
}

.Main {
    font-family: 'Open Sans', sans-serif;
    font-size: 110%;
    font-weight:normal;
    text-decoration:none;
    color:#000000;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    padding:5px 10px 10px 10px;
    min-height:400px;
}


.Main h2 {
  font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size:110%;
color:#003366;
padding-bottom:10px;
margin:0px;}

.Main h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size:130%;
    color:#003366;
    margin-top:0px;
    margin-bottom:15px;
    padding-top:0px;
}

.Main p {
    margin:0px;
    padding-left:10px;
    padding-right:20px;
    line-height:130%;
    padding-bottom:10px;
    padding-top:0px;
}

.tdate {
    display:inline-block;
    vertical-align:top;
    width:135px;
    text-align: left;
    margin-left:10px;
    margin-right:0px;
}

.tdatep {
    display:inline-block;
    vertical-align:top;
    width:300px;
    text-align: left;
    margin-left:10px;
    margin-right:0px;
}

.tmain {
    display:inline-block;
    width:80%;
    margin-left:15px;
    margin-bottom: 5px;
}

.tmainp {
    display:inline-block;
    width:50%;
    margin-left:15px;
    margin-bottom: 5px;
}

.tsecond {
    margin-bottom: 10px;
    font-size: 90%;
}

.pmain {
    margin-bottom: 15px;
    margin-left: 40px;
    font-size:90%;
}

.tmain b { color:#003366;}
.tmainp b { color:#003366;}


p span.hide{display:none;}

p.date{font-style:italic; text-align:right; padding-bottom:0px;}


