* {-webkit-font-smoothing: antialiased;}

a:active, a:link, a {
  color:#003366;
  text-decoration:none;
}

a:hover {
  color:#003366;
  text-decoration:underline;
}

body{
  background:#fefefe;
}

* {box-sizing: border-box;}

.Main {
    font-family: 'Open Sans', sans-serif;
    font-size: 110%;
    font-weight:normal;
    text-decoration:none;
    color:#000000;
    padding:0;
    margin:0;
}

.leftright {
    width: 95%;
    padding:0;
    margin:0;
    margin-left:5%;
    height:100%;
    padding-top:70px;
}

.left {
    float:left;
    background: #fefefe;
    width: 250px;
    z-index:5;
    position:relative;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    margin:0;
    margin-top:-40px;
}


.sidebar{
    margin-bottom:40px;
}

.sidebar-text{
    display:inline-block;
}


.right {
min-height:100%;
display:block;
background: #fefefe;
margin:0;
margin-left:170px;
padding:0;
padding-left:150px;
z-index:0;
box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}

.content {
max-width:1000px;
padding-top: 30px;
padding-bottom:20px;
}

.topright {
background: #fefefe;
color: #000000;
white-space: nowrap;
margin:0;
margin-right:10%;
margin-top:-45px;
margin-bottom:-100px;
padding: 4 8 4 8;
z-index:1;
float:right;
word-spacing:1em;
font-weight:400;
box-shadow:0 1px 1px 0 rgba(0,0,0,0.2),0 1px 2px 0 rgba(0,0,0,0.19);
}

.portrait{
box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
width:100%;
height:auto;
margin-left:16%;
margin-top:7%;
margin-bottom:17%;
padding:0px;
z-index:10;
position:relative;
}


ul{
list-style-type: none;
padding: 0;
margin: 0;
text-align: left;
}

li{
margin-left:1em;
margin-right:0.5em;
margin-bottom: 1.5em;
}

.Name {
    font-family: 'Open Sans', sans-serif;
    font-size:170%;
    font-weight:300;
    color:black;
    margin:5px;
    padding-left:10px;
    padding-top:0px;
    padding-right:5px;
}



.Main h2 {
  font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size:110%;
color:#003366;
padding-bottom:10px;
margin:0px;
margin-left:10px;
}

.Main h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size:130%;
    color:#003366;
    margin-top:0px;
    margin-bottom:15px;
    padding-top:0px;
}

.Main p {
    margin:0px;
    padding-left:10px;
    padding-right:20px;
    line-height:130%;
    padding-bottom:10px;
    padding-top:0px;
}


.pmain {
    margin-bottom: 15px;
    margin-left: 1em;
    font-size:90%;
}


.sidebar {margin-left:5px;}

.sidebar p {margin-top:15px;}


p span.hide{display:none;}

p.date{font-style:italic; text-align:right; padding-bottom:0px;}

@media screen and (min-width: 601px) and (max-width:1000px) {
    .left{width:150px;}
    .right{margin-left:100px;padding-left:80px;}
    .sidebar{font-size:80%;}
    .Name{font-size:140%;}
}


@media screen and (max-width: 600px)
{

.leftright {
    width: 100%;
    margin:0;
    margin:auto;
    padding:10px;
}

.left {
    position:static;
    display:block;
    float:none;
    box-shadow: none;
    border:none;
    width:100%;
    margin:auto;
    min-width:none;
    max-width:none;
    padding:0;
    margin:0;
}

.Name {
    position:static;
    display:block;
    margin:0;
    padding:0;
    padding-bottom:20px;
    font-family: 'Open Sans', sans-serif;
    font-size:170%;
    font-weight:300;
    text-align:center;
    color:black;
}

.portrait{
    float:left;
    position:static;
    display:inline-block;
    width:45%;
    max-width:200px;
    height:auto;
    padding:0;
    margin:0;
    margin-right:15px;
    z-index:10;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}

.sidebar{
    position:static;
    padding:0;
    margin:20px 0px 20px 20px;
    padding-top:0px;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}

.sidebar p {padding:0 0 10px 0;margin:0;}

.right {
    position:static;
    display:block;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    width:100%;
    margin:0px;
    padding:0;
}

.content {
    position:static;
    display:block;
    max-width:none;
    margin:30px 10px 20px 10px;
    padding:0;
    padding-top: 30px;
    padding-bottom:20px;
}

.topright {
    position:sticky;
    top:0px;
    z-index:1;
    word-spacing:1em;
    font-weight:400;
}

li {
    margin-left:1em;
    margin-right:0.5em;
    margin-bottom: 1em;
}

}

